{
    "service": {
      "id": "ggr-ui",
      "name": "ggr-ui",
      "Port": 8888,
      "check": {
        "id": "GGR_UI_HTTP",
        "name": "Go Grid Router UI Health check",
        "http": "http://localhost:8888/status",
        "tls_skip_verify": false,
        "method": "GET",
        "interval": "10s",
        "timeout": "1s"
      },
      "weights": {
        "passing": 5,
        "warning": 1
      }
    }
}
