[Unit]
Description=ggr-ui
Requires=ggr.service

[Service]
Type=simple
User=ggr
GuessMainPID=true
ExecStart={{ home_ggr }}/go-grid-router/ggr-ui -quota-dir {{ home_ggr }}/go-grid-router/quota
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
Restart=always
RestartSec=30
StartLimitInterval=120
StartLimitBurst=0

[Install]
WantedBy=multi-user.target